<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>US2 관리자 사이트</title>
    <link rel="stylesheet" href="css/Lsponsor_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jua&family=Lilita+One&family=Oswald:wght@200..700&family=Poetsen+One&family=Teko:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
<div id="logo" class="logo">
    <a href="index.html">
        <img class="logoImg" src="logo.png" alt="로고" width="100px" height="100px">
        <span class=logoText style="font-size:30px;margin-top:20px;"> US2</span>
    </a>
</div>
<div id="menu" class="menu">
    <ul>
        <li><a href="index.html">사용자 관리</a></li>
    </ul>
    <ul>
        <li><a href="sponsor.html">후원 관리</a></li>
        <ul>
            <li><a href="sponsor.html">- 일시후원</a></li>
            <li style="font-weight : bold;"><a href="Lsponsor.html">- 장기후원</a></li>
            <li><a href="Isponsor.html">- 증원</a></li>
        </ul>
    </ul>
    <ul>
        <li><a href="#">게시글 관리</a></li>
    </ul>
    <ul>
        <li><a href="#">커뮤니티 관리</a></li>
    </ul>
    <ul>
        <li><a href="faq_admin">입양상식 관리</a></li>
    </ul>
    <ul>
        <li><a href="banner_admin">배너 관리</a></li>
    </ul>
    <ul>
        <li><a href="question_admin">문의 관리</a></li>
    </ul>
</div>
<div id="main" class="main">
    <p style="margin-top: 28px;">장기후원 관리</p>
    <div id="search" class="search">
        <div id="item" class="item">
            <form action="#">
                <select>
                    <option value="all">전체</option>
                    <option value="id">아이디</option>
                    <option value="name">이름</option>
                    <option value="phone">전화번호</option>
                    <option value="account">계좌번호</option>
                    <option value="birth">생년월일</option>
                </select>
            </form>
        </div>
        <div id="text" class="text">
            <form action="#">
                <input type="text" name="query" value="" placeholder="검색어 입력">
                <button type="submit" class="btnS">검색</button>
            </form>
        </div>
    </div>
    <div id="table" class="list">
        <table class="table">
            <caption style="font-size: 20px; margin-bottom: 10px;">장기후원 목록</caption>
            <thead>
            <tr style="background-color: #D7EFE7">
                <th>전화번호</th>
                <th>이름</th>
                <th>임시 비밀번호</th>
                <th>후원금액</th>
                <th>기간</th>
                <th>은행</th>
                <th>계좌번호</th>
                <th>생년월일</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <button type="submit" class="btn_d btnS">삭제</button>
    <button type="submit" class="btn_c btnS">등록</button>
    <div class="page">
        <span><<</span> <span><</span>
        <span>1</span ><span>2</span><span>3</span><span>4</span><span>5</span>
        <span>></span> <span>>></span>
    </div>
</div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
      openNav();
    });

    function openNav() {
      document.getElementById("menu").style.width = "200px";
      document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
      document.getElementById("menu").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
    }
</script>
</body>
</html>